@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Poppins', sans-serif;
    }
    .no-underline {
        text-decoration: none;
    }
}

.perfil-card.selected {
    @apply border-blue-600 shadow-blue-200 ring-4 ring-blue-100;
}

.modulo-card.selected {
    @apply border-blue-600 ring-4 ring-blue-100;
}

.modulo-card .precio {
    @apply block text-lg font-bold text-blue-600;
}

.zoom-btn {
    @apply absolute top-3 right-3 w-10 h-10 bg-black bg-opacity-50 text-white rounded-full flex items-center justify-center opacity-0 transition-all duration-300 ease-in-out cursor-pointer;
    pointer-events: auto;
}

.modulo-card:hover .zoom-btn, .modulo-card-wrapper:hover .zoom-btn {
    @apply opacity-100;
}

.zoom-btn:hover {
    @apply bg-opacity-75 scale-110;
}

#resumen-lista::-webkit-scrollbar {
    width: 6px;
}
#resumen-lista::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
}

.add-to-cart-btn {
    @apply w-full mt-4 py-2 px-4 bg-blue-600 text-white font-bold rounded-lg shadow-md transition-all duration-300 ease-in-out;
    @apply hover:bg-blue-700 hover:shadow-lg transform hover:-translate-y-0.5;
}

.add-to-cart-btn.added {
    @apply bg-green-500 hover:bg-green-600;
}